In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
train_df = pd.read_csv("../data/train.csv")

In [4]:
test_df = pd.read_csv("../data/test.csv")

In [5]:
train_df.head()

,id,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,target
0,0,56,1,5882,0,38,0,185315.0104,0.844417,134,1,0,10,1
1,3,50,0,1767,1,35,0,371620.3666,0.837448,136,0,0,187,1
2,7,41,0,250,1,30,0,372810.2084,0.819996,139,1,0,29,1
3,11,47,0,582,1,20,0,185780.6482,0.870314,137,0,0,43,0
4,12,60,0,80,0,25,0,265096.3999,0.828112,136,1,0,213,0

In [6]:
dummies_train = pd.get_dummies(train_df,columns=["anaemia", "diabetes", "high_blood_pressure", "sex", "smoking"],prefix_sep=" ")
dummies_test = pd.get_dummies(test_df,columns=["anaemia", "diabetes", "high_blood_pressure", "sex", "smoking"],prefix_sep=" ")

In [7]:
dummies_train["EF_normal"] = 0
dummies_test["EF_normal"] = 0
dummies_train["EF_normal"][dummies_train["ejection_fraction"] >= 50] = 1
dummies_test["EF_normal"][dummies_test["ejection_fraction"] >= 50] = 1

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [8]:
dummies_train["EF_abnormal"] = 0
dummies_test["EF_abnormal"] = 0
dummies_train["EF_abnormal"][(dummies_train["ejection_fraction"] < 50) & (dummies_train["ejection_fraction"] >= 40)] = 1
dummies_test["EF_abnormal"][(dummies_test["ejection_fraction"] < 50) & (dummies_test["ejection_fraction"] >= 40)] = 1

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [9]:
dummies_train["EF_pseudonormal"] = 0
dummies_test["EF_pseudonormal"] = 0
dummies_train["EF_pseudonormal"][(dummies_train["ejection_fraction"] < 40) & (dummies_train["ejection_fraction"] >= 30)] = 1
dummies_test["EF_pseudonormal"][(dummies_test["ejection_fraction"] < 40) & (dummies_test["ejection_fraction"] >= 30)] = 1

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [10]:
dummies_train["EF_restrictive"] = 0
dummies_test["EF_restrictive"] = 0
dummies_train["EF_restrictive"][dummies_train["ejection_fraction"] < 30] = 1
dummies_test["EF_restrictive"][dummies_test["ejection_fraction"] < 30] = 1

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [11]:
dummies_train.head()

,id,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time,target,anaemia 0,...,high_blood_pressure 0,high_blood_pressure 1,sex 0,sex 1,smoking 0,smoking 1,EF_normal,EF_abnormal,EF_pseudonormal,EF_restrictive
0,0,56,5882,38,185315.0104,0.844417,134,10,1,0,...,1,0,0,1,1,0,0,0,1,0
1,3,50,1767,35,371620.3666,0.837448,136,187,1,1,...,1,0,1,0,1,0,0,0,1,0
2,7,41,250,30,372810.2084,0.819996,139,29,1,1,...,1,0,0,1,1,0,0,0,1,0
3,11,47,582,20,185780.6482,0.870314,137,43,0,1,...,1,0,1,0,1,0,0,0,0,1
4,12,60,80,25,265096.3999,0.828112,136,213,0,1,...,1,0,0,1,1,0,0,0,0,1

In [12]:
dummies_test.head()

,id,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time,anaemia 0,anaemia 1,...,high_blood_pressure 0,high_blood_pressure 1,sex 0,sex 1,smoking 0,smoking 1,EF_normal,EF_abnormal,EF_pseudonormal,EF_restrictive
0,1,67,56,60,255844.0310,0.824480,140,147,0,1,...,1,0,1,0,1,0,1,0,0,0
1,2,58,320,38,163434.8513,5.281481,134,207,1,0,...,1,0,1,0,1,0,0,0,1,0
2,4,67,737,60,255278.8436,0.841388,140,113,0,1,...,1,0,1,0,1,0,1,0,0,0
3,5,48,231,60,500149.7955,0.742807,139,215,1,0,...,1,0,0,1,0,1,1,0,0,0
4,6,59,320,35,245489.2530,1.082861,132,215,1,0,...,1,0,0,1,1,0,0,0,1,0

In [13]:
dummies_train.to_pickle("../src/feature/hert_pump_train_df.pkl")

In [14]:
dummies_test.to_pickle("../src/feature/hert_pump_test_df.pkl")